.work {
  width: 780px;
  margin: 0 auto;
  .title {
    color: #404040;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #404040;
    line-height: 32px;
    margin: 8px 0 4px;
  }
  .company {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    .row1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #404040;
      .name {
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
      }
      .time {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }
    .row2 {
      color: #404040;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
    }
    ul {
      margin: 0;
      width: calc(100% - 20px);
      padding-inline-start: 20px;
      li {
        color: #404040;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        line-height: 24px;
      }
    }
  }
}
